.vscode/
.MP4
__pycache__/
*.pickle
*.pyc
*.mp4
*.env
scripts/shell_variables.sh
*.png
*.log
experiments/evaluations
experiments/extension
app_demo_livrable/
.DS_Store
dist/
*.log
htmlcov/
*.coverage
.pytest_cache/

!tests/ressources/validation_videos/T1_trim.mp4
