[submodule "TrackEval"]
	path = external/TrackEval
	url = git@github.com:mchagneux/TrackEval.git
[submodule "external/FairMOT"]
	path = external/FairMOT
	url = git@github.com:mchagneux/FairMOT.git
[submodule "external/sort"]
	path = external/sort
	url = git@github.com:mchagneux/sort.git
