cocotools               
matplotlib              
notebook                
numpy                   
opencv-python          	
pandas                  
Pillow                  
pip                     
prompt-toolkit          
pycocotools             
requests                
scikit-learn            
scipy                   
seaborn                 
sklearn                 
torch                   
torchvision             
wandb                   
shapely
tensorboard